extends layout

block content
  h1= title
  h3
    p Welcome to #{title}
  br
  h3
    a(href="/about") About Pokemon
  br
  h3
    a(href="/api/pokemons") Get Pokemon List (GET)
  br
  h3
    a(href="/api/pokemons") Creat Pokemon (POST)
  br
  h3
    a(href="/api/pokemons/:pokemonid") Change Pokemon Treiner (PUT)
  br
  h3
    a(href="/api/pokemons/:pokemonid") Read One Pokemon (GET)
  br
  h3
    a(href="/api/pokemons/:pokemonid") Delete Pokemon (DELETE)
  br
  h3
    a(href="/api/pokemons/:pokemonAid/pokemonBid") Pokemon Battle (POST)
