doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='images/bellsprout.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/amelia.bootstrap.min.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Pokemon
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
           span.icon-bar
           span.icon-bar
           span.icon-bar
        #navbar-main.navbar-collapse.collapse
         ul.nav.navbar-nav
           li
             a(href='/about/') About
    .container
      block content
      
      footer
        .row
          .col-xs-12
            br
            br
            small &copy; Renato Teixeira 2018

    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
